bin/
obj/
*.user
*.suo
.vscode/
*.nupkg
*.snupkg
node_modules/
*.log
*.tmp
*.bak
.env
.env.*
nginx*
*.tfstate
*.tfstate.backup
crash.log
.terraform/
Infra/Terraform/kubectl
Infra/Terraform/kubectl.sha256
.terraform.lock.hcl
Infra/Terradform/*.tfvars
terraform.tfvars.json
terraform.tfvars